#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

body {
   font-family: 'Outfit', Helvetica, sans-serif;
   font-size: 17px;
   color: #333;
}

h1 {
   font-family: 'Outfit', Times, serif;
   font-size: 42px;
   margin-bottom: 20px;
   margin-top: 30px;
   letter-spacing: 9px;
   color: black;
   text-shadow: #fa8518 3px 3px 0;
   box-shadow: 5px 5px 0px #bd2ae6;
}

/* text-shadow: 2px 2px 0 rgb(50, 211, 50); */

p {
   line-height: 26px;
   margin-bottom: 15px;
}

.bold {
   font-weight: 700;
   font-size: 17px;
}  


/* adjacent selector */

p::first-letter {
   color:  #bd2ae6;
}




